<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Learn VueJS By Example</title>
        <style>
            table {
                width: 100%;
                margin-bottom: 20px;
                border-collapse: collapse;
            }
            td {
                padding: 10px 15px;
            }
            thead, tr {
                border-bottom: 2px solid #eee;
            }
            thead td {
                border: 0;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <people></people>
        </div>
        
        <script src="http://unpkg.com/vue"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
        <script>
            let Search = {
                data() {
                    return {
                        query: ''
                    }
                },
                template: `
                    <input type="search" v-model="query" @input="changed">
                `,
                methods: {
                    changed() {
                        this.$emit('input', this.query)
                    }
                }
            }

            let People = {
                data() {
                    return {
                        people: [],
                        query: ''
                    }
                },
                components: {
                    'search': Search
                },
                template: `
                    <div class="people">
                        <search v-model="query"></search>
                        {{ query }}
                        <table v-if="people.length">
                            <thead>
                                <th><td>ID</td></th>
                                <th><td>Name</td></th>
                                <th><td>Username</td></th>
                                <th><td>Email</td></th>
                            </thead>
                            <tbody>
                                <tr v-for="person in filteredPeople">
                                    <td>{{ person.id }}</td>
                                    <td>{{ person.name }}</td>
                                    <td>{{ person.username }}</td>
                                    <td>{{ person.email }}</td>
                                </tr>
                            </tbody>
                        </table>
                        <p v-else>No results</p>
                    </div>
                `,
                computed: {
                    filteredPeople() {
                        return this.people.filter((row) => {
                            return Object.keys(row).some((key) => {
                                return String(row[key]).indexOf(this.query) > -1
                            })
                        })
                    }
                },
                mounted() {
                    axios.get('people.json').then((response) => {
                        this.people = response.data
                    })
                }
            }

            let app = new Vue({
                el: '#app',
                components: {
                    'people': People
                }
            })
        </script>
    </body>
</html>