<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn VueJS By Example</title>
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: 'Courier';
        }

        .notes__new {
            display: block;
            background: #fff;
            padding: 20px;
            border: 2px solid #e0e0e0;
            color: inherit;
            text-decoration: none;
            text-align: center;
            width: 100%;
            margin-bottom: 2px;
        }

        .note {
            display: flex;
            justify-content: space-between;
            background: #fff;
            padding: 20px;
            border: 2px solid #e0e0e0;
            border-bottom: 0;
            color: inherit;
            text-decoration: none;
            width: 100%;
        }

        .note__header {
            display: flex;
            flex-direction: row;
        }

        .note__wrapper:last-child .note {
            border-bottom: 2px solid #e0e0e0;
        }

        .note__delete {
            padding: 20px;
            text-decoration: none;
            border: 2px solid #e0e0e0;
            border-left: 0;
            color: inherit;
            text-align: center;
            min-width: 150px;
        }

        .editor {
            width: 100%;
            font: inherit;
            border: 0;
            outline: none;
            padding: 20px;
            border: 2px solid #e0e0e0;
            border-bottom: 0;
            border-top: 0;
            resize: vertical;
            vertical-align: top;
        }

        .note__wrapper:last-child .editor {
            border-bottom: 2px solid #e0e0e0;
        }
    </style>
</head>
<body>
    <div id="app">
        <notes></notes>
    </div>
    
    <script src="http://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pluralize/7.0.0/pluralize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script>
        let Editor = {
            props: [
                'noteObject'
            ],
            data() {
                return {
                    note: this.noteObject
                }
            },
            template: `
                <textarea @input="update" v-model="note.body" rows="10" class="editor" placeholder="Write a note..."></textarea>
            `,
            methods: {
                update() {
                    this.$emit('update')
                }
            }
        }

        let Note = {
            props: [
                'noteObject'
            ],
            data() {
                return {
                    open: false,
                    note: this.noteObject
                }
            },
            components: {
                'editor': Editor
            },
            computed: {
                wordCount() {
                    if (!this.note.body.trim()) return '0 words'

                    let wordCount = this.note.body.trim().split(' ').length

                    return wordCount + ' ' + pluralize('word', wordCount)
                }
            },
            template: `
                <div class="note__wrapper">
                    <div class="note__header">
                        <a href="#" class="note" @click.prevent="open = !open">
                            <span>{{ _.truncate(note.body, { length: 30 }) || 'Empty note' }}</span>
                            <span>{{ wordCount }} </span>
                        </a>
                        <a v-if="open" href="#" class="note__delete" @click.prevent="deleteNote">Delete note</a>
                    </div>
                    <editor v-if="open" :noteObject="note" v-on:update="saveNote"></editor>
                </div>
            `,
            methods: {
                saveNote() {
                    let notes = JSON.parse(localStorage.getItem('notes')) || []

                    notes.map((note) => {
                        if (note.id == this.note.id) {
                            note.body = this.note.body
                        }
                    })

                    localStorage.setItem('notes', JSON.stringify(notes))
                },
                deleteNote() {
                    this.$emit('delete', this.note.id)
                }
            }
        }

        let Notes = {
            data() {
                return {
                    notes: JSON.parse(localStorage.getItem('notes')) || []
                }
            },
            components: {
                'note': Note
            },
            template: `
                <div class="notes">
                    <a href="#" class="notes__new" @click.prevent="newNote">
                        Create a new note
                    </a>
                    <note 
                        v-for="note in notes"
                        :noteObject="note"
                        :key="note.id"
                        v-on:delete="deleteNote"
                    ></note>
                </div>   
            `,
            methods: {
                newNote() {
                    this.notes.push({
                        id: Date.now(),
                        body: ''
                    })

                    localStorage.setItem('notes', JSON.stringify(this.notes))
                },
                deleteNote(id) {
                    this.notes = this.notes.filter((note) => {
                        return note.id != id
                    })

                    localStorage.setItem('notes', JSON.stringify(this.notes))
                }
            }
        }

        let app = new Vue({
            el: '#app',
            components: {
                'notes': Notes
            }
        })
    </script>
</body>
</html>