<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Learn VueJS By Example</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <style>
        body {
            padding-top: 60px;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <login></login>
                </div>
            </div>
        </div>
    </div>

    <script src="http://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script>
        let Login = {
            data() {
                return {
                    errors: {},
                    form: {
                        email: '',
                        password: ''
                    }
                }
            },
            template: `
                <form action="#" @submit.prevent="submit">
                    <div class="form-group" :class="{ 'has-danger': errors.email }">
                        <label for="email" class="form-control-label">Email</label>
                        <input v-model="form.email" type="email" id="email" class="form-control" placeholder="example@domain.com"/>
                        <div class="form-control-feedback" v-if="errors.email">
                            {{ errors.email[0] }}
                        </div>
                    </div>
                    <div class="form-group" :class="{ 'has-danger': errors.password }">
                        <label for="password" class="form-control-label">password</label>
                        <input v-model="form.password" type="password" id="password" class="form-control"/>
                        <div class="form-control-feedback" v-if="errors.password">
                            {{ errors.password[0] }}
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            `,
            methods: {
                submit() {
                    axios.post('register.php', this.form).then((response) => {
                        // login success
                        // console.log(response)
                    }).catch((error) => {
                        this.errors = error.response.data.data
                    })
                }
            }
        }

        let app = new Vue({
            el: '#app',
            components: {
                'login': Login
            }
        })
    </script>
</body>
</html>